:root{
    --head-background-color:#bec9a8;
    --head-text-color:black;
    --main-background-color:#f2ddce;
    --main-card-color:#d2c0b4;
    --form-background-color:white;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;    
    padding: 0px;
    font-family:"Playfair Display",sans-serif ;
    background-color: var(--main-background-color);
}
.header{
    background-color: var(--head-background-color);
    color:var(--head-text-color);
    font-size: 50px;
    height: 100px;
    font-family: "Borel",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: var(--head-background-color);
    color:var(--head-text-color);
    height: 30px;
   
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 130px);
    background-color: var(--main-background-color);

}
/*.bookDiv{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}
.bookOne{
    background-color: var(--main-card-color);
    padding: 10px;

}*/

.formDiv{
    background-color: white;
    height: 500px; 
    padding: 10px;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    gap:10px;

}

